
.clinics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    margin: 1rem;
  }
  
  .clinic {
      margin: 2em;
      padding: 1em;
      height: 95%;
      width: 65%;
  }
  
  a {
    display: block;
    float: none;
    font-size: 22px;
  }

  button.add {
    display: block;
  }