
.clinics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    margin: 1rem;
  }
  
  .clinic {
      margin: 2em;
      padding: 1em;
      border: 1px solid goldenrod;


      height: 342px;
      width: 65%;
  }

  img.list {
    width: 32%;

      display: inline-block;
  }

  img.list {
    width: 30%;
  }
  
  a {
    display: flex;
    float: right;
    font-size: 22px;
  }

  button.add {
    display: block;
  }