.petPhoto {
    display: block;
    width: 20%;
    float: right;
    border: 5px solid blue;
}

h3 {
    /* display: flex; */
    /* float: right; */
}

.MyPets {
   
}

.clinic__name {
   justify-content: center;
    font-family: serif;
}